* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    font-family: 'Inter', sans-serif;
}

:root {
    // --gray0: #f8f8f8;
    // --gray1: #dbe1e8;
    // --gray2: #b2becd;
    // --gray3: #6c7983;
    // --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --purple0: #faf8fc;
    --purple1: #f3eff8;
    --purple2: #eae2f2;
    --purple3: #c0aad6;
    --blue: #0084a5;
    --purple: #7526ca;
    --yellow: #fff565;
    --dark-purple: #1F103F;
    --mauve: #D3C4E3;
}

.light {
    --bg: var(--purple0);
    --bg-nav: linear-gradient(to right, var(--purple1), var(--purple3));
    --bg-dropdown: var(--purple3);
    --text: var(--gray6);
    --border-color: var(--blue);
    --span: var(--dark-purple);
    --button: var(--dark-purple);
    --navbar-color: var(--mauve);
}
  

.dark {
    --bg: var(--gray5);
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--purple0);
    --border-color: var(--purple);
    --span: var(--purple);
    --button: var(--purple);
    --navbar-color: var(--gray5);
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;

    @media (max-width:1024px) {
        padding-left: 64px;
        padding-right: 64px;
    }

    @media (max-width: 767px) {
        padding-left: 32px;
        padding-right: 32px;
    }

}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #12002F;
	padding-top: 120px;
	transition: 0.4s;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;

	color: #FFF;
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: #24104f;
}

@media (min-width: 980px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
}

section {
	h2 {
		margin-bottom: 32px;
        font-family: 'Playfair Display', serif;
        text-align: center;
        font-size: 48px;
        color: var(--text);
	}
}

img {
    max-width: 100%;
}

.btn {
    appearance: none;
    border: none;
    outline: none;
    background: none;

    display: inline-block;
    color: white;
    background-color: var(--button);
    padding: 12px 16px;
    border: 2.5px solid var(--button);
    border-radius: 30px;
    text-decoration: none;
    font-size: inherit;
    cursor: pointer;

    @media (max-width: 425px) {
        font-size: 14px;
    }
}

.btn:hover {
    background-color: white;
    color: var(--button);
    border-color: var(--button);
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--button); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }



/********** NAVIGATION MENU************/
nav {
    color: var(--text);
    position: fixed;
    height: 70px;
    width: 100%;
    padding: 25px 128px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-weight: 600;

    @media (max-width:1024) {
        padding: 25px 90px;
    }

    a {
        color: currentColor;
        text-decoration: none;
        text-align: center;
        padding: 12px 16px;
    }

    a:hover {
        background-color: var(--bg);
    }

    h2 {
        text-transform: uppercase;

        span {
            font-weight: 300;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 400px;
        height: 100%;

        @media (max-width: 1024px) {
            width: 350px;
        }

        @media (max-width: 985px) {
            display: none;
        }

        
    }

    .btn {
        margin-left: 1rem;
    }

    .dropdown {
        position: absolute;
        width: 150px;
        height: 42px;
        opacity: 0;
        z-index: 2;
        background: var(--button);
        color: white;

        margin-top: 15px;

        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    
        display: flex;
        align-items: center;
        justify-content: space-around;

        // box-shadow: rgba(47, 39, 68, 0.1) 0px 0.175rem 0.5rem;
        transform: translate(-40%);
        
        transition: opacity 0.15s ease-out;
    }

    .has-dropdown {
        opacity: 1;
    }

    .has-dropdown:focus-within .dropdown {
        opacity: 1;
        pointer-events: auto;
    }

    .dropdown-item a {
        width: 100%;
        height: 100%;
        size: 0.7rem;
        font-weight: bold;
    }

    &.is-scrolling {
        background-color: var(--navbar-color);
    }
    

}



/********************MAIN SECTION***********************/
header {

    padding: 5rem;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    background: var(--bg-nav);
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
    color: var(--text);

    @media (max-width: 425px) {
        min-height: 60vh;
    }

    .container {
        position: relative;
        z-index: 1;

        h1 {
            font-size: 72px;
            font-family: 'Playfair Display', serif;
            margin-bottom: 32px;

            span {
                font-family: inherit;
                color: var(--span);
            }

            @media (max-width:760px) {
                font-size: 52px;
            }

            @media (max-width: 425px) {
                font-size: 32px;
            }
        }

        h3 {
            font-size: 36px;
            font-weight: 400;
            margin-bottom: 32px;

            @media (max-width:760px) {
                font-size: 26px;
            }

            @media (max-width: 425px) {
                font-size: 16px;
            }
        }
    }
}


/*****************ABOUT**************************************/
.about {

    .container {
        padding-bottom: 64px;
    }

    .about-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 128px;
    }

    h3 {
        color: var(--text);
    }

    p {
        color: var(--text);
    }
}

/*******************SERVICES************************************/
.services {

    .container {
        padding-top: 64px;
        padding-bottom: 64px;

        .services-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 16px;

            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 425px) {
                grid-template-columns: 1fr;
            }

            .service {
                background-color: var(--mauve);
                border-radius: 16px;
                overflow: hidden;
                box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);

                .img-box {
                    display: block;
                    width: 100%;

                    .img {
                        display: block;
                        width: 100%;
                        height: 128px;
                        object-fit: cover;
                    }
                }

                .content {
                    padding: 16px;
                }

                
            }
        }
    }

    h3 {
        text-align: center;
    }

}


/***********************PROJECTS****************************/
.projects {
    padding-top: 64px;
    padding-bottom: 64px;

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        margin-bottom: 32px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 425px) {
            grid-template-columns: 1fr;
        }

        .project {
            background-image: url('../images/project.png');
            border-radius: 16px;
            overflow: hidden;

            // if we want to use different images for the projects
            // repeat the &:nth-child() for every project
            // &:nth-child(2) {
            //     background-image: url('../images/identity.jpg')
            // }

            .content {
                opacity: 0;
                color: white;
                padding: 16px;
                background-color: rgba(47, 39, 68, 0.8);
                transition: .4s;

                h3 {
                    font-size: 36px;
                    text-align: center;
                }

                p {
                    font-size: 16px;
                    margin-bottom: 16px;
                }
            }

            .content:hover {
                opacity: 1;
            }

        }

    }

    .center {
        text-align: center;
    }
}

/*****************CONTACT************************/
.contact {
    background-color: var(--mauve);
    
    .container {
        padding-top: 64px;
        padding-bottom: 64px;

        h2 {
            color: #282C35;
        }
    }

    form {
        display: block;
        margin: 0 auto;
        max-width: 680px;

        @media (max-width: 425px) {
            font-size: 12px;
            padding: 14px;
        }

        .form-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;
            margin-bottom: 16px;

            @media (max-width: 425px) {
                grid-template-columns: 1fr;
            }

            .form-element, .form-area {
                appearance: none;
                border: none;
                outline: none;
                background: none;

                display: block;
                width: 100%;
                background-color: white;
                border-radius: 8px;

                padding: 16px;
                font-size: 16px;
            }


            .form-area {
                grid-column: 1/-1;
            }

        }

        .right-align {
            text-align: right;
        }

    }
}

footer {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    color: var(--text);
    
    a {
        text-decoration: none;
    }
}